@model int

@{
    ViewData["Title"] = "Home Page";
    var userID = ViewData["userID"];
    var products = ViewData["Products"] as List<ST10372065.Models.productTable>;
}

<head>
    <title>Welcome to KhumaloCraft Emporium</title>
</head>
<body>
    <h1>Welcome to KhumaloCraft Emporium</h1>

    <h2>Our Story</h2>
    <p>
        KhumaloCraft Emporium was founded with a passion for preserving traditional craftsmanship and celebrating the beauty of handmade products.
        Our journey began in a small workshop, where our founder, Mr. John Khumalo, dedicated himself to learning and mastering various artisanal techniques passed down through generations.

    </p>
    <p>
        Inspired by the rich cultural heritage and diversity of craft traditions around the world, Mr. Khumalo envisioned a platform that would connect artisans with a global audience.
        Today, KhumaloCraft Emporium stands as a testament to the talent, creativity, and artistry of craftsmen from every corner of the globe.
    </p>

    <h2>Our Mission</h2>
    <p>
        At KhumaloCraft Emporium, our mission is twofold. Firstly, we strive to provide a marketplace that empowers artisans, giving them a platform to showcase their craftsmanship and
        reach a wider audience. We believe in fair trade and work directly with artisans, ensuring that they receive fair compensation for their skills and labor.
    </p>
    <p>
        Secondly, we aim to bring unique and quality handcrafted products to our customers. We curate a diverse collection of items that embody the essence of traditional craftsmanship,
        from handwoven textiles and intricately carved wooden sculptures to delicate jewelry and vibrant ceramics. Each product tells a story and represents the dedication and passion of
        the artisans behind it.
    </p>

    <h2>The Future of KhumaloCraft</h2>
    <p>
        As we look ahead, our vision for KhumaloCraft Emporium is to continue expanding our network of artisans and offering an even wider range of handcrafted products. We are committed
        to fostering sustainable practices and supporting local communities through our partnerships.
    </p>
    <p>
        We invite you to join us on this journey as we strive to make a positive impact on the lives of artisans, preserve cultural heritage, and bring the beauty of handmade craftsmanship
        to homes around the world.
    </p>


</body>