@{
    ViewData["Title"] = "MyWork";
}

<head>
    <title>My Work - KhumaloCraft Emporium</title>
    

</head>
<body>
    <h1>Product information</h1>
    <p>
       Below are some of the select few products we have on hand ready to be delivered to your doorstep. Please note that all these products listed have been sourced locally from their 
       rescpective countries and that is why prices might be expensive. Many of these products can be considered exotic. You will find a picture of the product, its price and a short description
       on the item and its origin.
    </p>

    <div class="product">
        <img src="~/Images/KhumaloCraftImg1.jpg" alt="" />
        <h3>Hand woven bowls and vase</h3>
        <b><p>Price: R1999.99</p></b></>
        <p>
            With this hand woven set is a must have decoration in your home. These fine crafted pieces from Eswatini will bring life to your lounge where these can be on display for all to see.
            These pieces do come in a set of 5 (1 vase, 4 bowls). They can have many uses as the can be used for simple decoration or practical use for food and or displaying flowers.
        </p>
    </div>

    <div class="product">
        <img src="~/Images/KhumaloCraftImg2.jpg" alt="" />
        <h3>Decorative shield</h3>
        <b><p>Price: R3999.99</p></b>
        <p>
            This beautiful decorative piece coming all the way from Papua New Guinea is a for sure eye-catcher. This centre piece can be displayed anywhere in your home and fit in perfectly, it
            is a captivating shield that would have been used in the past for territorial battles but has now become a simple home decoration in modern era.
        </p>
    </div>

    <div>
        <img src ="~/Images/KhumaloCraftImg3.png" alt=" " />
        <h3>Traditional Matryoshka Dolls</h3>
        <b><p>Price: R599.99</p></b>
        <p>
            A traditional Matryoshka dool from the heart of Russia, often seen for its symbolism of a mother carrying a child within her. Can be a a toy for a child to play with as well 
            as a decorative piece. This specific one contains 7 layers, made from the Linden tree.
        </p>
    </div>

    <div>
        <img src ="~/Images/KhumaloCraftImg5.jpg" alt=" " />
        <h3>Grand Buddha statue</h3>
        <b><p>Price: R1199.99</p></b>
        <p>
            Grand Buddha statue all the way from Taiwan, this beautifully handcrafted piece is a religious icon for Budist people. It is perfectly crafted and been treated witht the upmost
            respect and delicate hands.
        </p>
    </div>
</body>
