@using Microsoft.AspNetCore.Http
@model List<ST10372065.Models.TransactionsModel>

<h2>Your Past Transactions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count == 0)
        {
            <tr>
                <td colspan="2">No transactions found.</td>
            </tr>
        }
        else
        {
            @foreach (var transactions in Model)
            {
                <tr>
                    <td>@transactions.ProductName</td>
                    <td>@transactions.Quantity</td>
                </tr>
            }
        }
        
    </tbody>
</table>