html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar{
    background-color: transparent;
    color: white;
    box-shadow: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/KCLogo.png');
    background-repeat: repeat-y; /* Change this line */
    background-position: left top; /* Adjust the position as needed */
;
}

footer {
    background-color: aliceblue;
    text-align: center;
    height: 15px;
    width: 100%;
}

